.btn_list {
    margin-top: 20px;
}

.intro {
    margin-top: 15px;
}

.book {
    width: 218px;
    position: absolute;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
}

.book img {
    -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    display: none;
    margin: 0;
    padding: 0;
    width: 216px;
}

.book .text {
    width: 216px;
    position: absolute;
    display: none;
    padding: 5px;
    background-color: #ffffff;
    opacity: 0.8;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}
