{% extends 'base.djhtml' %}

{% block cssfiles %}
<link rel="stylesheet" href="{{STATIC_URL}}css/search.css" type="text/css">
<style>
    .book_img {
        width: 150px;
    }
</style>
{% endblock %}

{% load highlight %}

{% block contents %}

<section id="search">
    <div class="row-fluid">
        <div class="span12">
            <h2>검색 결과</h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
        {% if query %}
            <table class="table">
                {% for result in page.object_list %}
                <tr>
                    <td class="book_img">
                        <a href="{{ result.object.get_absolute_url }}">
                            <img src="{{MEDIA_URL}}images/book/{{ result.object.book_info.image_path }}" />
                        </a>
                    </td>
                    <td>
                        <p><b><a href="{{ result.object.get_absolute_url }}">{% highlight result.object with query %}</a></b></p>
                    {% if result.object.book_info.author != None %}
                        <p>{% highlight result.object.book_info.author with query %}</p>
                    {% endif %}
                    {% if result.object.library != None %}
                        <p><a href="{{ result.object.library.get_absolute_url }}">{{ result.object.library.name }}</a></p>
                    {% endif %}
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td><div class="alert alert-error alert-block"><h2>검색 결과가 없습니다!</h2></div></td>
                    </tr>
                {% endfor %}
            </table>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-error alert-block">
                <h2>검색어를 입력해 주세요!</h2>
            </div>
        {% endif %}
        </div>
    </div>
</section>

{% endblock %}
